Package: gettext-doc
Source: gettext
Version: 0.19.8.1-1ubuntu2
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 4470
Section: doc
Priority: optional
Homepage: http://www.gnu.org/software/gettext/
Description: Documentation for GNU gettext
 This package contains the HTML documentation for GNU gettext, as well as
 simple "hello world" examples in several programming languages.
Original-Maintainer: Santiago Vila <sanvila@debian.org>
