Package: autopoint
Source: gettext
Version: 0.19.8.1-1ubuntu2
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 457
Depends: xz-utils
Replaces: gettext (<= 0.17-11)
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: http://www.gnu.org/software/gettext/
Description: The autopoint program from GNU gettext
 The `autopoint' program copies standard gettext infrastructure files
 into a source package.  It extracts from a macro call of the form
 `AM_GNU_GETTEXT_VERSION(VERSION)', found in the package's
 `configure.in' or `configure.ac' file, the gettext version used by the
 package, and copies the infrastructure files belonging to this version
 into the package.
Original-Maintainer: Santiago Vila <sanvila@debian.org>
