[Unit]
Description=GUI switch service
Before=kodi.service vdr.service

[Service]
Type=oneshot
ExecStart=-/bin/sh -c 'exec /usr/bin/gui-switch.start'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
