[Unit]
Description=MySQL server
After=network-online.service
Before=kodi.service

[Service]
Type=forking
PIDFile=/var/run/mysqld.pid
ExecStart=/bin/sh -c "exec sh /storage/.kodi/addons/service.web.lamp/bin/mysqld.start"
ExecStop=/bin/sh -c "exec sh /storage/.kodi/addons/service.web.lamp/bin/mysqld.stop"
TimeoutStartSec=5
TimeoutStopSec=5
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
Alias=mysqld
WantedBy=kodi.service
