[Unit]
Description=VDR backend service
ConditionPathExists=/storage/.cache/services/vdr-backend.conf

[Service]
EnvironmentFile=-/run/alexelec/vdr-backend.conf
ExecStartPre=-/usr/bin/vdr_backend-config
ExecStartPre=-/usr/bin/camd start VDR-Backend
ExecStart=/bin/sh -c "eval LANG=$SYS_LOCALE exec vdr $BVDR_ARGS"
ExecStop=/bin/kill -KILL $MAINPID
ExecStopPost=/usr/bin/camd stop VDR-Backend
TimeoutStopSec=5
Restart=always
RestartSec=2
StartLimitInterval=0

[Install]
WantedBy=kodi.target
