Source: at-spi2-core
Section: misc
Priority: optional
Maintainer: Debian Accessibility Team <debian-accessibility@lists.debian.org>
Uploaders: Samuel Thibault <sthibault@debian.org>, Jordi Mallach <jordi@debian.org>
Vcs-Browser: http://git.debian.org/?p=pkg-a11y/at-spi2-core.git;a=summary
Vcs-Git: git://git.debian.org/git/pkg-a11y/at-spi2-core.git
Homepage: https://wiki.gnome.org/Accessibility
Build-Depends: debhelper (>= 9.20150628),
               dh-autoreconf,
               dbus, libdbus-1-dev,
               libglib2.0-dev,
               libxtst-dev,
               libgirepository1.0-dev,
               intltool, gtk-doc-tools (>= 1.09),
               gobject-introspection
Standards-Version: 3.9.8

Package: at-spi2-core
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: gdm3 (<< 3.4)
Description: Assistive Technology Service Provider Interface (dbus core)
 This package contains the core components of GNOME Accessibility.

Package: at-spi2-core-udeb
Section: debian-installer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Package-Type: udeb
Description: Assistive Technology Service Provider Interface (dbus core for d-i)
 This package contains the core components of GNOME Accessibility for the debian
 installer.

Package: libatspi2.0-0
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: at-spi2-core (= ${binary:Version})
Description: Assistive Technology Service Provider Interface - shared library
 This package contains the shared library for applications that wish to use
 the at-spi interface.

Package: libatspi0-udeb
Section: debian-installer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Package-Type: udeb
Description: Assistive Technology Service Provider Interface - module for d-i
 This package contains the AT-SPI shared library, for the debian installer.

Package: libatspi2.0-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         gir1.2-atspi-2.0 (= ${binary:Version}),
         libatspi2.0-0 (= ${binary:Version}),
         libglib2.0-dev (>= 2.4.1-2),
         libdbus-1-dev,
         libglib2.0-dev,
         libxtst-dev
Replaces: gir-repository-dev
Description: Development files for the assistive technology service provider
 These are the development files for at-spi2, needed for compilation of
 programs which use it.

Package: gir1.2-atspi-2.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${gir:Depends}
Replaces: gir1.0-gtk-2.0 (<< 2.22),
          gobject-introspection-repository
Description: Assistive Technology Service Provider (GObject introspection)
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings

Package: at-spi2-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: devhelp
Description: Assistive Technology Service Provider Interface (Documentation)
 This package contains documentation for the at-spi2 interface.
