Package: gettext-el
Source: gettext
Version: 0.19.8.1-1ubuntu2
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 203
Depends: gettext, emacs | emacsen
Section: lisp
Priority: optional
Homepage: http://www.gnu.org/software/gettext/
Description: Emacs po-mode for editing gettext .po files
 This package contains po-mode.el for easy .po editing using emacs.
Original-Maintainer: Santiago Vila <sanvila@debian.org>
