Source: m4
Section: interpreters
Priority: optional
Maintainer: Santiago Vila <sanvila@debian.org>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.20120311), libsigsegv-dev
Build-Depends-Indep: texinfo
Homepage: http://www.gnu.org/software/m4/

Package: m4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: m4-doc
Multi-Arch: foreign
Description: macro processing language
 GNU `m4' is an implementation of the traditional UNIX macro
 processor.  It is mostly SVR4 compatible, although it has some
 extensions (for example, handling more than 9 positional parameters to
 macros).  `m4' also has builtin functions for including files, running
 shell commands, doing arithmetic, etc.  Autoconf needs GNU `m4' for
 generating `configure' scripts, but not for running them.

Package: m4-doc
Section: doc
Priority: optional
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for GNU m4
 This package contains the HTML documentation for GNU m4.
