Package: gettext-base
Source: gettext
Version: 0.19.8.1-1ubuntu2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 718
Depends: libc6 (>= 2.14)
Section: utils
Priority: standard
Multi-Arch: foreign
Homepage: http://www.gnu.org/software/gettext/
Description: GNU Internationalization utilities for the base system
 This package includes the gettext and ngettext programs which allow
 other packages to internationalize the messages given by shell scripts.
Original-Maintainer: Santiago Vila <sanvila@debian.org>
